@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-primary: #F3F5FC;
    --color-secundary: #FFFFFF;
    --color-main-button: #0A3871;

    --color-font: #0A3871;
    --color-font-secundary: #495057;
    --color-font-main-button: #FFFFFF;
    --color-font-secundary-button: #0A3871;

    --color-footer: #D8DFE8;

    --font-inter: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--color-font);
}

.header {
    display: flex;
}

.header__logo {
    padding: 40px 0px 0px 40px;
    width: 120px;
    height: 48px;
}

.presentation {
    font-family: var(--font-inter);
    align-items: top;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.presentation__content {
    padding: 128px 0px 0px 240px;
    display: flex;
    flex-direction: column;
}

.presentation__input {
    font-family: var(--font-inter);
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-font);
    background-color: var(--color-primary);
    border: none;
    /* outline: none; */

    resize: vertical;
    width: 577px;
    min-height: 48px;
    max-height: 288px;
}

.presentation__input::placeholder {
    color: var(--color-font);
}

.presentation__hints {
    padding: 559px 0px 16px 0px;
    font-family: var(--font-inter);
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--color-font-secundary);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.presentation__hints__image {
    width: 16px;
    height: 16px;
    margin: 0px 8px 0px 0px;
}

.presentation__links {
    display: flex;
    justify-content: space-between;
    justify-content: left;
    height: 67px;
    gap: 24px;
    padding: 0px 0px 72px 0px;
}

.presentation__links__main__link {
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-font-main-button);
    background-color: var(--color-main-button);
    border: none;
    border-radius: 24px;
    width: 328px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
}

.presentation__links__main__link:hover {
    color: var(--color-font-secundary-button);
    background-color: var(--color-secundary);
    border: var(--color-main-button) 1px solid;
}

.presentation__links__secundary__link {
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-font-secundary-button);
    background-color: transparent;
    border: none;
    border-radius: 24px;
    width: 328px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: var(--color-font-secundary-button) 1px solid;
    box-sizing: border-box;
}

.presentation__result__not__empty__text__links__link:hover {
    background-color: var(--color-primary);
}

.presentation__result {
    margin: -48px 40px 40px 80px;
    height: 944px;
    width: 400px;
    background-color: var(--color-secundary);
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.presentation__links__secundary__link:hover {
    background-color: var(--color-secundary);
}

.presentation__result__empty {
    padding: 0rem 2rem 0rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation__result__empty__image {
    width: 336px;
    height: 304px;
}

.presentation__result__empty__text {
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
}

.presentation__result__empty__text__title {
    padding: 24px 0px 0px 0px;
    font-family: var(--font-inter);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-font);
    text-align: center;
}

.presentation__result__empty__text__subtitle {
    padding: 16px 0px 0px 0px;
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-font-secundary);
    text-align: center;
}

.presentation__result__not__empty {
    padding: 2rem 2rem 0rem 2rem;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 2rem;
}

.presentation__result__not__empty__text {
    font-family: var(--font-inter);
    color: var(--color-font-secundary);
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    height: 781px;
    border: none;
    resize: none;
    text-align:left;
}

.presentation__result__not__empty__text__links {
    display: flex;
    justify-content: space-between;
    justify-content: left;
    height: 67px;
    gap: 24px;
    padding-bottom: 2rem;
}

.presentation__result__not__empty__text__links__link {
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-font-secundary-button);
    background-color: transparent;
    border: none;
    border-radius: 24px;
    width: 328px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: var(--color-font-secundary-button) 1px solid;
    box-sizing: border-box;
}

.footer {
    padding: 1.5rem;
    background-color: var(--color-footer);
    color: var(--color-font);
    text-align: center;
    font-family: var(--font-inter);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 768px) {
    .header__logo {
        padding: 74px 0px 0px 0px;
        height: 51px;
    }

    .presentation {
        padding: 0rem 2.5rem 0rem 2.5rem;
        flex-direction: column;
    }

    .presentation__content {
        padding: 7.25rem 0rem 0rem 0rem;
        display: flex;
        flex-direction: column;
    }

    .presentation__input {
        width: 100%;    
    }

    .presentation__links {
        width: 100%;
    }

    .presentation__result {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        height: auto;
        gap: 40px;
    }

    .presentation__result__empty {
        padding: 2rem 0rem 2rem 0rem;
        box-sizing: border-box;
    }

    .presentation__result__empty__image {
        display:none;
    }

    .presentation__result__empty__text__title {
        padding-top: 0rem;
    }
    
    .presentation__result__not__empty {
        padding: 2rem 2rem 2rem 2rem;
        box-sizing: border-box;
    }

    .presentation__result__not__empty__text {
        height: auto;
    }

    .presentation__result__not__empty__text__links {
        width: 100%;
    }
    .presentation__result__not__empty__text__links__link {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0rem 2rem 0rem;
    }
}

@media (max-width: 375px) { 
    .header__logo {
        margin-left: -24px;
        height: 51px;
    }

    .presentation {
        padding: 0rem 1rem 0rem 1rem;
        flex-direction: column;
    }

    .presentation__content {
        padding: 3.5rem 0rem 0rem 0rem;
        display: flex;
        flex-direction: column;
    }

    .presentation__hints {
        padding: 15.6875rem 0rem 1rem 0rem;
    }

    .presentation__links {
        flex-direction: column;
        gap: 24px;
    }

    .presentation__links__main__link {
        height: 67px;
    }

    .presentation__links__secundary__link {
        height: 67px;
    }

    .presentation__result__empty {
        padding: 2rem 2rem 2rem 2rem;
        box-sizing: border-box;
    }
}