@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-primary: #F3F5FC;
    --color-secundary: #FFFFFF;
    --color-main-button: #0A3871;
    --color-secundary-button: #D8DFE8;

    --color-font: #0A3871;
    --color-font-secundary: #495057;
    --color-font-main-button: #FFFFFF;
    --color-font-secundary-button: #0A3871;

    --font-inter: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--color-font);
}

.header {
    display: flex;
}

.header__logo {
    padding: 40px 0px 0px 40px;
    width: 120px;
    height: 48px;
}

.presentation {
    font-family: var(--font-inter);
    align-items: top;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.presentation__content {
    padding: 128px 0px 0px 240px;
    display: flex;
    flex-direction: column;
}

.presentation__input {
    font-family: var(--font-inter);
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-font);
    background-color: var(--color-primary);
    border: none;
    /* outline: none; */

    resize: vertical;
    width: 577px;
    min-height: 48px;
    max-height: 288px;
}

.presentation__input::placeholder {
    color: var(--color-font);
}

.presentation__hints {
    padding: 552px 0px 16px 0px;
    font-family: var(--font-inter);
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--color-font-secundary);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.presentation__hints__image {
    width: 16px;
    height: 16px;
    margin: 0px 8px 0px 0px;
}

.presentation__links {
    display: flex;
    justify-content: space-between;
    justify-content: left;
    height: 67px;
    gap: 24px;
    padding: 0px 0px 72px 0px;
}

.presentation__links__main__link {
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-font-main-button);
    background-color: var(--color-main-button);
    border: none;
    border-radius: 24px;
    width: 328px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
}

.presentation__links__main__link:hover {
    color: var(--color-font-secundary-button);
    background-color: var(--color-secundary);
    border: var(--color-main-button) 1px solid;
}

.presentation__links__secundary__link {
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-font-secundary-button);
    background-color: var(--color-secundary-button);
    border: none;
    border-radius: 24px;
    width: 328px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: var(--color-font-secundary-button) 1px solid;
    box-sizing: border-box;
}

.presentation__result {
    margin: -48px 40px 40px 80px;
    height: 944px;
    width: 400px;
    background-color: var(--color-secundary);
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.presentation__links__secundary__link:hover {
    background-color: var(--color-secundary);
}
/* 
input[type="text"]:not(:placeholder-shown) + .presentation__result__empty {
    display: none;
}

input[type="text"]:placeholder-shown + .presentation__result__not__empty {
    display: none;
} */

.presentation__result__empty {
    padding: 0rem 2rem 0rem 2rem;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation__result__empty__image {
    width: 336px;
    height: 304px;
}

.presentation__result__empty__text {
    /* margin: 32px 32px; */
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
}

.presentation__result__empty__text__title {
    padding: 24px 0px 0px 0px;
    font-family: var(--font-inter);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-font);
    text-align: center;
}

.presentation__result__empty__text__subtitle {
    padding: 16px 0px 0px 0px;
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-font-secundary);
    text-align: center;
}

.presentation__result__not__empty {
    padding: 2rem 2rem 0rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.presentation__result__not__empty__text {
    padding-bottom: 2rem;
    font-family: var(--font-inter);
    color: var(--color-font-secundary);
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    height: 781px;
    border: none;
    resize: none;
    text-align:left;
}

/* @media (max-width: 768px) {

    .presentation {
        padding: 5%;
        flex-direction: column-reverse;
    }

    .presentation__input {
        width: 688px;
    }
}
@media (max-width: 1200px) {

    .presentation {
        padding: 5%;
        flex-direction: column-reverse;
    }

} */